---
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import { WORK } from "@consts";

const projects = [
  {
    name: "Jupyter Notebook",
    logo: {
      light: "/projects/jupyter.svg",
      dark: "/projects/jupyter-dark.svg",
    },
    url: "https://github.com/jupyter/notebook",
  },
  {
    name: "JupyterLab",
    logo: {
      light: "/projects/jupyterlab.svg",
      dark: "/projects/jupyterlab-dark.svg",
    },
    url: "https://github.com/jupyterlab/jupyterlab",
  },
  {
    name: "JupyterLite",
    logo: "/projects/jupyterlite.svg",
    url: "https://github.com/jupyterlite/jupyterlite",
  },
  {
    name: "Voila",
    logo: "/projects/voila.svg",
    url: "https://github.com/voila-dashboards/voila",
  },
];
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {WORK.TITLE}
    </div>
    <p class="animate mt-4">
      {WORK.DESCRIPTION}
    </p>
  </TopLayout>
  <BottomLayout>
    <!-- Open Source -->
    <div class="animate bottomBorder">
      <h3 class="font-bold">
        <svg class="size-4 inline-block fill-current">
          <use href={`/social.svg#github`}></use>
        </svg>
        Open Source
      </h3>
      <p class="mt-2">
        As part of my work at <a class="base-link" target="_blank" href="https://quantstack.net">QuantStack</a>,
        I contribute to open source projects in the Jupyter ecosystem. I'm a core
        developer on <a class="base-link" target="_blank" href="https://github.com/jupyter">@jupyter</a>,
        <a class="base-link" target="_blank" href="https://github.com/jupyterlab">@jupyterlab</a>,
        <a class="base-link" target="_blank" href="https://github.com/jupyterlite">@jupyterlite</a>, and
        <a class="base-link" target="_blank" href="https://github.com/voila-dashboards">@voila-dashboards</a>.
      </p>
      <div class="mt-6 grid grid-cols-2 sm:grid-cols-4 gap-6 justify-items-center">
        {
          projects.map((project) => (
            <a
              href={project.url}
              target="_blank"
              rel="noopener noreferrer"
              class="transition-transform hover:scale-110"
            >
              {
                typeof project.logo === "string" ? (
                  <img src={project.logo} alt={project.name} class="w-24 h-24" />
                ) : (
                  <>
                    <img src={project.logo.light} alt={project.name} class="w-24 h-24 dark:hidden" />
                    <img src={project.logo.dark} alt={project.name} class="w-24 h-24 hidden dark:block" />
                  </>
                )
              }
            </a>
          ))
        }
      </div>
      <p class="mt-6">
        I also contribute to many other projects across the Jupyter ecosystem. You can find the full list on
        my <a class="base-link" target="_blank" href="https://github.com/jtpio">GitHub profile</a>.
      </p>
    </div>

    <!-- Video Games -->
    <div class="animate mt-8">
      <h3 class="font-bold">
        <svg class="size-4 inline-block fill-current">
          <use href={"/misc.svg#controller"}></use>
        </svg>
        Video Games
      </h3>
      <p class="bottomBorder">
        Prior to focusing on Jupyter, I worked in the video game industry as a
        game developer and data engineer. On my spare time, I also made a few
        indie games at game jams and hackathons.
      </p>

      <div class="bottomBorder flex flex-row">
        <div class="flex flex-col">
          <h4 class="mt-2 font-bold">Game Jams</h4>
          <ul class="list-disc pl-5">
            <li>
              Participated in several game jams and hackathons, where I made
              games from scratch in a short amount of time.
            </li>
            <li>
              <a href="/gameJams" class="base-link">List of Game Jams</a>.
            </li>
          </ul>
        </div>

        <div class="flex items-center content-stretch">
          <svg class="max-h-24 max-w-24 fill-current">
            <use href={"/misc.svg#controller"}></use>
          </svg>
        </div>
      </div>
      <!-- Ubisoft -->
      <div class="bottomBorder flex flex-row">
        <div class="flex flex-col">
          <h4 class="mt-2 font-bold">Ubisoft Massive</h4>
          <p>
            Worked as a game developer and tools programmer at Ubisoft Massive,
            in Malmö, Sweden.
          </p>
          <ul class="list-disc pl-5">
            <li>
              Released Just Dance Now, world's #1 dance game and top-selling
              Ubisoft brand.
            </li>
            <li>
              Improved and added new tools for the Snowdrop game engine,
              powering the game Tom Clancy's The Division.
            </li>
          </ul>
        </div>
        <div class="flex items-center content-stretch">
          <svg class="max-h-24 max-w-24 fill-current">
            <use href={"/misc.svg#ubisoft"}></use>
          </svg>
        </div>
      </div>

      <!-- Wooga -->
      <div class="bottomBorder flex flex-row">
        <div class="flex flex-col">
          <h4 class="mt-2 font-bold">Wooga</h4>
          <p>
            Worked as a data engineer at Wooga, a mobile game company in Berlin.
          </p>
          <ul class="list-disc pl-5">
            <li>Improve and operate the data ingestion pipeline</li>
            <li>
              Build and maintain internal data analysis tools built on top of
              the Jupyter ecosystem and Plotly Dash
            </li>
          </ul>
        </div>
        <div class="flex items-center content-stretch">
          <svg class="max-h-24 max-w-24 fill-current">
            <use href={"/misc.svg#wooga"}></use>
          </svg>
        </div>
      </div>
    </div>
  </BottomLayout>
</PageLayout>
