---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ThemedStat from "@components/ThemedStat";
import { WORK } from "@consts";

const repos = await getCollection("repos");

// Sort repos by weight to highlight the most important ones
repos.sort((a, b) => (b.data.weight || 0) - (a.data.weight || 0));
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {WORK.TITLE}
    </div>
    <p class="animate mt-4">
      {WORK.DESCRIPTION}
    </p>
  </TopLayout>
  <BottomLayout>
    <!-- Repos -->
    <div class="animate bottomBorder">
      <h3 class="font-bold">
        <svg class="size-4 inline-block fill-current">
          <use href={`/social.svg#github`}></use>
        </svg>
        Open Source
      </h3>
      <p class="mt-2">
        As part of my work at QuantStack, I contribute to open source projects
        in the Jupyter ecosystem and maintain a few of my own. Below are some
        notable repositories I've contributed on. You can find the full list on
        my <a class="base-link" target="_blank" href="https://github.com/jtpio"
          >GitHub profile</a
        >.
      </p>
      <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-2">
        {
          repos.map((repo) => (
            <ThemedStat
              client:only="solid-js"
              repoUrl={repo.data.repoUrl ?? ""}
              alt={repo.data.name}
            />
          ))
        }
      </div>
    </div>

    <!-- Video Games -->
    <div class="animate mt-8">
      <h3 class="font-bold">
        <svg class="size-4 inline-block fill-current">
          <use href={"/misc.svg#controller"}></use>
        </svg>
        Video Games
      </h3>
      <p class="bottomBorder">
        Prior to focusing on Jupyter, I worked in the video game industry as a
        game developer and data engineer. On my spare time, I also made a few
        indie games at game jams and hackathons.
      </p>

      <div class="bottomBorder flex flex-row">
        <div class="flex flex-col">
          <h4 class="mt-2 font-bold">Game Jams</h4>
          <ul class="list-disc pl-5">
            <li>
              Participated in several game jams and hackathons, where I made
              games from scratch in a short amount of time.
            </li>
            <li>
              <a href="/gameJams" class="base-link">List of Game Jams</a>.
            </li>
          </ul>
        </div>

        <div class="flex items-center content-stretch">
          <svg class="max-h-24 max-w-24 fill-current">
            <use href={"/misc.svg#controller"}></use>
          </svg>
        </div>
      </div>
      <!-- Ubisoft -->
      <div class="bottomBorder flex flex-row">
        <div class="flex flex-col">
          <h4 class="mt-2 font-bold">Ubisoft Massive</h4>
          <p>
            Worked as a game developer and tools programmer at Ubisoft Massive,
            in Malmö, Sweden.
          </p>
          <ul class="list-disc pl-5">
            <li>
              Released Just Dance Now, world's #1 dance game and top-selling
              Ubisoft brand.
            </li>
            <li>
              Improved and added new tools for the Snowdrop game engine,
              powering the game Tom Clancy's The Division.
            </li>
          </ul>
        </div>
        <div class="flex items-center content-stretch">
          <svg class="max-h-24 max-w-24 fill-current">
            <use href={"/misc.svg#ubisoft"}></use>
          </svg>
        </div>
      </div>

      <!-- Wooga -->
      <div class="bottomBorder flex flex-row">
        <div class="flex flex-col">
          <h4 class="mt-2 font-bold">Wooga</h4>
          <p>
            Worked as a data engineer at Wooga, a mobile game company in Berlin.
          </p>
          <ul class="list-disc pl-5">
            <li>Improve and operate the data ingestion pipeline</li>
            <li>
              Build and maintain internal data analysis tools built on top of
              the Jupyter ecosystem and Plotly Dash
            </li>
          </ul>
        </div>
        <div class="flex items-center content-stretch">
          <svg class="max-h-24 max-w-24 fill-current">
            <use href={"/misc.svg#wooga"}></use>
          </svg>
        </div>
      </div>
    </div>
  </BottomLayout>
</PageLayout>
